<h1>Pagina de arranque</h1>
    <a routerLink="/uno">Ir a Uno</a>
    <br>
    <a (click)="gotoCodingRoute()">router Programa</a>
    <br>
    <a routerLink="/pasarvalor/30">Pasando valor</a>
    <br>
    <a routerLink="/pasarvalorDos/15/elementos">Pasando valor DOs</a>
    <br>
    <a (click)="gotoQueryComponent()">Pasar Objeto</a>
    <br>
    <label>Seccion moviles</label><br>
    <!-- Hemos hecho esto psando por RouterLink una varaible-->
    <input type="text" [(ngModel)]="marca"><br>
    <a [routerLink]="['/moviles',marca]">ver lista</a>
    <!-- <input type="text" [(ngModel)]="marca"><br>
    <button (click)="cargaMoviles()">Listar Moviles</button> -->
